@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap');

.post-creation {
    position: sticky;
    top: 20px;
}

.postImage {
    object-fit: cover;
    margin: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 350px;
    height: 350px;
}

.image-upload__input {
    display: none;
}

.image-upload__wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 45px;
    background: #000428; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 350px;
    word-wrap: break-word;
    color: white;
    border-radius: 20px;
}

.image-upload__wrapper > label {
    height: 45px;
    line-height: 45px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    font-family: 'Exo 2', sans-serif;
}